.app {
  $parent: &;

  &--admin,
  &--auth {
    #{$parent} {
      &-content {
        width: 100vw;
        height: 100vh;
      }
    }
  }
}

.layout {
  overflow-y: auto;
  height: calc(100% - 55px);

  padding: 0 5px 0 0;
}

// ScrollBar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray4;
  border-radius: 10px;
}
