.breadcrumb {
  $breadcrumbSpace: 20;

  @include s400-6;

  &__list {
    @include list-unstyled;

    display: flex;
  }

  &__item {
    position: relative;

    color: $gray3;

    &:after {
      content: '/';

      position: absolute;

      top: 0;
      left: -12px;

      opacity: 0;
      visibility: hidden;
      color: currentColor;
    }

    &-link {
      color: $gray1;
    }

    & + & {
      margin: 0 0 0 map-get($spacers, $breadcrumbSpace);

      &:after{
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
