{% set title = "UI" %}
{% set app_class = "app--ui" %}
{% extends "layouts/_default.njk" %}

{% import "components/_index.njk" as components %}

{% block content %}

  <main class="layout" role="main">
    <section class="section py-25">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="section__label">
              <h2 class="h1">
                Form UI
              </h2>
            </div>
          </div>
        </div>
        <div class="row pt-15">
          <div class="col">
            .input.input--text
            {{ components.inputText({
              id: 'id1',
              label: 'Label',
              placeholder: 'placeholder',
              description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim esse itaque molestiae officia possimus praesentium, qui rerum tempore. Atque blanditiis cum delectus facilis fugiat, ipsum magnam maiores natus quo rem!'
            }, 'pt-15') }}
          </div>
        </div>
        <div class="row pt-15">
          <div class="col">
            .input.input--textarea
            {{ components.textarea({
              id: 'id2',
              label: 'Label',
              placeholder: 'placeholder'
            }, 'pt-15') }}
          </div>
        </div>
        <div class="row pt-15">
          <div class="col">
            .checkbox
            {{ components.checkbox({
              id: 'id3',
              title: 'Label',
              label: 'Text'
            }, 'pt-15') }}
          </div>
        </div>
        <div class="row pt-15">
          <div class="col">
            .radio
            {{ components.radio({
              id: 'id4',
              title: 'Label',
              label: 'Text'
            }, 'pt-15') }}
          </div>
        </div>
      </div>
    </section>
    <section class="section py-25">
      <div class="container-fluid">
        <div class="row mb-20">
          <div class="col">
            <div class="section__label">
              <h2 class="h1">
                Grid
              </h2>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12">
            <div class="bg-dark text-white p-15">
              1/1
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <div class="bg-dark text-white p-15">
              4/12
            </div>
          </div>
          <div class="col-2">
            <div class="bg-dark text-white p-15">
              2/12
            </div>
          </div>
          <div class="col-6">
            <div class="bg-dark text-white p-15">
              6/12
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3">
            <div class="bg-dark text-white p-15">3/12</div>
          </div>
          <div class="col-2">
            <div class="bg-dark text-white p-15">2/12</div>
          </div>
          <div class="col-5">
            <div class="bg-dark text-white p-15">5/12</div>
          </div>
          <div class="col-2">
            <div class="bg-dark text-white p-15">2/12</div>
          </div>
        </div>
        <div class="row row-cols-5">
          <div class="col">
            <div class="bg-dark text-white p-15">1/5</div>
          </div>
          <div class="col">
            <div class="bg-dark text-white p-15">1/5</div>
          </div>
          <div class="col">
            <div class="bg-dark text-white p-15">1/5</div>
          </div>
          <div class="col">
            <div class="bg-dark text-white p-15">1/5</div>
          </div>
          <div class="col">
            <div class="bg-dark text-white p-15">1/5</div>
          </div>
        </div>
      </div>
    </section>
    <section class="section py-25">
      <div class="container-fluid">
        <div class="row mb-20">
          <div class="col">
            <div class="section__label">
              <h2 class="h1">
                Links
              </h2>
            </div>
          </div>
        </div>
        <div class="row mb-4 bg-gray">
          <div class="col-12 pb-10">
            <div>.link</div>
            <a href="" class="link">
              by Jeff Dickerson
            </a>
          </div>
          <div class="col-12 pb-10">
            <div>.link.link--default</div>
            <a href="" class="link link--default">
              by Jeff Dickerson
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="section py-25">
      <div class="container-fluid">
        <div class="row mb-20">
          <div class="col">
            <div class="section__label">
              <h2 class="h1">
                Utilities class
              </h2>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-18">
            <p>.full-width-xs</p>
            <p>.full-width-sm</p>
            <p>.full-width-md</p>
            <p>.full-width-xs-none</p>
            <p>.full-width-sm-none</p>
            <p>.full-width-md-none</p>
          </div>
          <div class="col-18 col-md-6">
            <div class="full-width-xs full-width-md-none">
              <div class="bg-dark text-white py-100 px-10 w-100">
                <div class="content">
                  Full width from xs to md.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock %}
