.icon {
  display: block;
  line-height: 1;

  &-eye {
    &-close {
      width: 39px;
      height: 30px;
      fill: currentColor;
    }
    &-open {
      width: 39px;
      height: 23px;
      fill: currentColor;
    }
  }
}
