{% macro authBg(bg) %}
  <div class="auth__bg">

    <div class="auth__bg-logo auth__bg-logo--{{ bg.logo.position }}">
      <img class="auth__bg-logo-image" src="/static/img/stub/{{ bg.logo.image }}.png" alt="">
    </div>

    <div style="color: #F7F7F7"
         class="auth__bg-label auth__bg-label--{{ bg.title.position }}">{{ bg.title.label }}</div>

    <img class="auth__bg-image" loading="lazy" src="/static/img/auth/{{ bg.image }}" alt="">

  </div>
{% endmacro %}

{% macro authInput(class, input) %}

  <div class="{{ class }}-group input-auth">
    <label class="input-auth__placeholder" for="{{ input.id }}">{{ input.placeholder }}</label>
    <input class="input-auth__body" type="{{ input.type }}" id="{{ input.id }}" autocomplete="{{ input.id }}">

    {% if input.type === 'password' %}
      <div class="input-auth__eye">
        <svg class="icon icon-eye-close">
          <use xlink:href="#icon-eye-close"></use>
        </svg>
      </div>
    {% endif %}
  </div>

{% endmacro %}

{% macro authCheckbox(class, label, id) %}

  <div class="{{ class }}-checkbox checkbox">
    <input type="checkbox" class="checkbox__body" id="{{ id }}">
    <label for="{{ id }}" class="checkbox__label">{{ label }}</label>
  </div>

{% endmacro %}

{% macro breadcrumb(array) %}

  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      {% for item in array %}
        <li class="breadcrumb__item">
          {% if array.length === loop.index %}
            {{ item.label }}
          {% else %}
            <a class="breadcrumb__item-link link" href="{{ item.link }}">{{ item.label }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

{% endmacro %}

{% macro actions(position) %}
  <div class="section__tools">
    <div class="section__tools-item{{ position }}">
      <button type="submit" class="waves-effect waves-light btn section__tools-save">Save<i
          class="material-icons right">save</i></button>
    </div>
    <div class="section__tools-item">
      <button type="reset" class="waves-effect waves-light btn section__tools-back"><i
          class="material-icons">backspace</i></button>
    </div>
  </div>
{% endmacro %}
