//Gray
//
$gray1: #333333;
$gray2: #4F4F4F;
$gray3: #828282;
$gray4: #BDBDBD;
$gray5: #cccccc;
$gray6: #606266;
$gray7: #9e9e9e;

$grays: ();
$grays: map-merge(
    (
      "1": $gray1,
      "2": $gray2,
      "3": $gray3,
      "4": $gray4,
      "5": $gray5,
      "6": $gray6
    ),
    $grays
);

// Purple
$purple3: #6775E0;
$purple4: #4959d7;

$purples: ();
$purples: map-merge(
    (
      "3": $purple3,
      "4": $purple4
    ),
    $purples
);

//Blue
$blue1: #1b2133;
$blue2: #0c1224;
$blue3: #515974;

$blues: ();
$blues: map-merge(
    (
      '1': $blue1,
      '2': $blue2,
      '3': $blue3
    ),
    $blues
);

// White
$white1: #F7F7F7;
$white2: #e4ebf7;
$white3: #f2f6fc;
$white4: #ebebeb;
$white5: #F1F1F1;
$white6: #D8DCE5;

// red
$red1: #f45b63;

// Green
$green1: #42B983;

$darken-1: #546E7A;
$darken-3: #37474F;

$lighten-2: #90A4AE;
$indigo1: #7986cb;
$indigo2: #5c6bc0;

.color-gray1 {
  color: $gray1;
}
