//Gray
//
$gray1: #333333;
$gray2: #4F4F4F;
$gray3: #828282;
$gray4: #BDBDBD;

$grays: ();
$grays: map-merge(
    (
      "1": $gray1,
      "2": $gray2,
      "3": $gray3,
      "4": $gray4
    ),
    $grays
);

// Purple
$purple3: #6775E0;
$purple4: #4959d7;

$purples: ();
$purples: map-merge(
    (
      "3": $purple3,
      "4": $purple4
    ),
    $purples
);

// White
$white1: #F7F7F7;
