{% set menus = [
  {
    icon: 'dashboard',
    label: 'Dashboard',
    link: '#',
    isActive: true
  },
  {
    icon: 'settings',
    label: 'Settings',
    link: '#',
    isActive: false,
    isOpen: false,
    list: [
    {
      label: 'Auth Setting',
      link: '#'
    }
  ]
  }
] %}
