{% set version = {
  mode: 'dev',
  version: '0.0.3',
  prefix: 'alpha'
} %}

{% set menus = [
  {
    icon: 'dashboard',
    label: 'Dashboard',
    link: '#',
    isActive: true,
    visible: true
  },
  {
    icon: 'forum',
    label: 'Post',
    link: '#',
    isActive: false,
    visible: true
  },
  {
    icon: 'library_books',
    label: 'Catalog',
    link: '#',
    isActive: false,
    visible: true
  },
  {
    icon: 'book',
    label: 'Pages',
    link: '#',
    isActive: false,
    visible: true
  },
  {
    icon: 'wallpaper',
    label: 'Images',
    link: '#',
    isActive: false,
    visible: true
  },
  {
    icon: 'extension',
    label: 'Plugins',
    link: '#',
    isActive: false,
    visible: true
  },
  {
    icon: 'account_circle',
    label: 'Users',
    link: '#',
    isActive: false,
    visible: true,
    lists: [
    {
      label: 'All Users',
      isActive: true,
      link: '#'
    },
    {
      label: 'Add new User',
      isActive: false,
      link: '#'
    },
    {
      label: 'You profile',
      isActive: false,
      link: '/profile.html'
    }
  ]
  },
  {
    icon: 'comment',
    label: 'Comments',
    link: '#',
    isActive: false,
    visible: true
  },
  {
    icon: 'settings',
    label: 'System',
    link: '#',
    isActive: false,
    visible: true,
    lists: [
    {
      label: 'Setting',
      isActive: false,
      link: '/setting.html'
    },
    {
      label: 'Localization',
      isActive: false,
      link: '#'
    }
  ]
  },
  {
    icon: 'memory',
    label: 'Ui Element',
    link: '/test.html',
    isActive: false,
    visible: true
  }
] %}
{% set chips = [
  {
    label: 'Dashboard',
    isActive: true,
    isClose: false
  },
  {
    label: 'Images',
    isActive: false,
    isClose: true
  },
  {
    label: 'Users',
    isActive: false,
    isClose: true
  },
  {
    label: 'Settings',
    isActive: false,
    isClose: true
  }
] %}
{% set mainBtn = [
  {
    label: 'Profile',
    link: '/profile.html'
  },
  {
    label: 'Dashboard',
    link: '#'
  },
  {
    label: 'Github',
    link: '#'
  },
  {
    label: 'Docs',
    link: '#'
  },
  {
    label: 'divider'
  },
  {
    label: 'Log Out',
    link: '/auth/login.html'
  }
] %}
{% set tools = [
  {
    icon: 'language',
    link: '#',
    id: 'translate',
    list: [
    {
      label: 'ru-Ru',
      link: '#'
    },
    {
      label: 'en-En',
      link: '#'
    }
  ]
  },
  {
    icon: 'home',
    link: '#',
    id: 'home',
    list: [
    {
      label: 'http://my-site.loc',
      link: 'http://my-site.loc'
    },
    {
      label: 'http://my-site2.loc',
      link: 'http://my-site2.loc'
    }
  ]
  }
] %}
{% set authSetting = [
  {
    label: false,
    placeholder: 'Logo position',
    column: 12,
    list: [
    {
      label: 'Top left',
      value: 'l_top_left'
    },
    {
      label: 'Top center',
      value: 'l_top_center'
    },
    {
      label: 'Top right',
      value: 'l_top_right'
    },
    {
      label: 'Center left',
      value: 'l_center_left'
    },
    {
      label: 'Center center',
      value: 'l_center_center'
    },
    {
      label: 'Center right',
      value: 'l_center_right'
    },
    {
      label: 'Bottom left',
      value: 'l_bottom_left'
    },
    {
      label: 'Bottom center',
      value: 'l_bottom_center'
    },
    {
      label: 'Bottom right',
      value: 'l_bottom_right'
    }
  ]
  },
  {
    label: false,
    placeholder: 'Text position',
    column: 12,
    list: [
    {
      label: 'Top left',
      value: 't_top_left'
    },
    {
      label: 'Top center',
      value: 't_top_center'
    },
    {
      label: 'Top right',
      value: 't_top_right'
    },
    {
      label: 'Center left',
      value: 't_center_left'
    },
    {
      label: 'Center center',
      value: 't_center_center'
    },
    {
      label: 'Center right',
      value: 't_center_right'
    },
    {
      label: 'Bottom left',
      value: 't_bottom_left'
    },
    {
      label: 'Bottom center',
      value: 't_bottom_center'
    },
    {
      label: 'Bottom right',
      value: 't_bottom_right'
    }
  ]
  },
  {
    label: false,
    placeholder: 'Form position',
    column: 12,
    list: [
    {
      label: 'Image Form',
      value: 'f_image_form'
    },
    {
      label: 'Form Image',
      value: 'f_form_image'
    }
  ]
  }
] %}
