{% import "components/_index.njk" as components %}
{% import "database/_global.njk" as global %}

{% set breadcrumb = [
  {
    label: 'Dashboard',
    link: '#'
  },
  {
    label: 'Users',
    link: '#'
  },
  {
    label: 'All Users'
  }
] %}

<div class="header">

  <div class="header__body">
    <div class="header__breadcrumb">
      {{ components.breadcrumb(breadcrumb) }}
    </div>

    <div class="header__tools">

      <ul class="header__action">
        <li class="header__action-item">

          <a class="js-search-btn header__action-search link">
            <i class="material-icons">search</i>
          </a>

          <input placeholder="Search..." type="search" class="js-search header__action-input" name="search">
        </li>

        {% for tool in global.tools %}
          <li class="header__action-item">

            <a class="dropdown-button header__action-button link" data-activates="{{ tool.id }}" href="{{ tool.link }}">
              <i class="material-icons">{{ tool.icon }}</i>
            </a>

            <ul id='{{ tool.id }}' class='dropdown-content header__tools-list'>
              {% for item in tool.list %}
                <li><a href="{{ item.link }}">{{ item.label }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>

      <div class="header__tools-menu">
        <a class='dropdown-button header__tools-button btn link--default' href='#' data-activates='menu'>Woody</a>

        <ul id='menu' class='dropdown-content header__tools-list'>
          {% for item in global.mainBtn %}
            {% if item.label === 'divider' %}
              <li class="divider"></li>
            {% else %}
              <li><a href="{{ item.link }}">{{ item.label }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="header__pages">
    <ul class="header__pages-list">
      {% for chip in global.chips %}
        <div class="chip header__pages-chip
                    {% if chip.isActive %}
                    isActive
                    {% endif %}">
          {{ chip.label }}
          {% if chip.isClose %}
            <i class="close material-icons">close</i>
          {% endif %}
        </div>
      {% endfor %}
      <li></li>
    </ul>
  </div>

</div>
